.content {
  margin-bottom: 100px;
  min-height: 250px;

  padding-left: 5%;
  padding-right: 5%;
}

.client-services-lists,
.client-list {
  column-count: 2;
}

.plugin-FPO-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 2%;
}

.img {
  margin: 0.5em 0;
}

.center-type {
  text-align: center;
  margin-top: 5%;
}

.brokerPlugin {
  position: absolute;
  margin: 0.5em 0;
}

main > img {
  max-width: 100%;
  max-height: auto;
  overflow: hidden;
  padding-bottom: 3%;
}
