footer {
  position: sticky;
  text-align: center;
  width: 100%;
  height: 135px;
  /* WILEY PANTONE 5483 GREEN */
  background-color: #4f868e;
  /* WILEY PANTONE 7471 TEAL */
  /* background-color: #7eddd3; */
}
